@charset "UTF-8";
/* Common Style Code Start */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Common Style Code End */
/* Nav Section Style Start */
header {
  width: 100%;
  background-color: white;
  margin-top: 0;
}

header nav {
  margin: 0 auto;
  padding: 1rem;
  -webkit-box-shadow: 5px 5px 10px rgba(253, 207, 224, 0.822);
          box-shadow: 5px 5px 10px rgba(253, 207, 224, 0.822);
}

header nav:hover {
  -webkit-box-shadow: 10px 10px 20px #fdcfe0;
          box-shadow: 10px 10px 20px #fdcfe0;
}

header nav .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header nav .navigation h1 {
  font-size: 24px;
}

header nav .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .navigation ul li {
  list-style: none;
  padding-right: 2rem;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header nav .navigation ul li .nav-menu {
  text-decoration: none;
  color: black;
  padding: 1rem;
}

header nav .navigation ul li .nav-menu:hover {
  background-color: rgba(253, 207, 224, 0.822);
  border-radius: 5rem;
}

/* Nav Responsive Style Start */
/* Mobile devices Layout: 320px to 480px*/
@media (min-width: 320px) and (max-width: 480px) {
  header {
    position: static;
  }
  header nav .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  header nav .navigation ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav .navigation ul li {
    margin-top: 1rem;
  }
}

/* iPads, Tablets Layout: 481px to 768px */
@media (min-width: 481px) and (max-width: 768px) {
  header {
    position: static;
  }
  header nav {
    -webkit-box-shadow: 1px 1px 20px grey;
            box-shadow: 1px 1px 20px grey;
  }
  header nav .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  header nav .navigation ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav .navigation ul li {
    margin-top: 1rem;
  }
}

/* Small screens, laptops Layout: 769px to 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  header nav .navigation ul li {
    padding: 1rem;
  }
  header nav .navigation ul li .nav-menu {
    padding: 0;
  }
}

/* Desktops, large screens: 1025px — 1200px */
/* Nav Responsive Style End */
/* Introduction Section Start */
.introduction {
  width: 90vw;
  margin: 0 auto;
}

.introduction__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.introduction__content-text {
  width: 50%;
}

.introduction__content-text h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

.introduction__content-text .button {
  text-decoration: none;
  color: white;
  margin-top: 30px;
  display: inline-block;
  background-color: #e02c6d;
  padding: 10px 24px;
  border-radius: 41px;
}

.introduction__content-img img {
  width: 100%;
}

/* Introduction Section End */
/* Responsive Style Code Start */
/* Mobile devices Layout: 320px to 480px*/
@media (min-width: 320px) and (max-width: 480px) {
  .introduction {
    width: 100vw;
  }
  .introduction__content-text {
    text-align: center;
    width: 90%;
  }
  .introduction__content-text h1 {
    font-size: 2.3rem;
  }
  .introduction__content-img {
    margin-top: 2rem;
  }
}

/* iPads, Tablets Layout: 481px to 768px */
@media (min-width: 481px) and (max-width: 768px) {
  .introduction {
    width: 100vw;
  }
  .introduction__content-text {
    text-align: center;
    width: 90%;
  }
  .introduction__content-text h1 {
    font-size: 2.3rem;
  }
  .introduction__content-img {
    margin-top: 2rem;
  }
}

/* Small screens, laptops Layout: 769px to 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .introduction {
    width: 90vw;
  }
  .introduction__content {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .introduction__content-text h1 {
    font-size: 2rem;
  }
  .introduction__content-text .button {
    margin-top: 10px;
  }
}

/* Desktops, large screens: 1025px — 1200px */
/* Responsive Style Code End */
/* E-Commerce Site Start */
main {
  margin-top: 3rem;
}

main .e-commerce__title {
  text-align: center;
}

main .e-commerce__title h2 {
  font-size: 2rem;
}

main .e-commerce hr {
  width: 90vw;
}

main .e-commerce__img {
  padding: 3rem;
  width: 80vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .e-commerce__img img:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
}

/* E-Commerce Site End */
/* Responsive Style Code*/
/* Mobile devices Layout: 320px to 480px*/
@media (min-width: 320px) and (max-width: 480px) {
  main .e-commerce__img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .e-commerce__img img {
    margin-top: 1rem;
  }
}

/* iPads, Tablets Layout: 481px to 768px */
@media (min-width: 481px) and (max-width: 1024px) {
  main .e-commerce__img {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4fr 4fr 4fr;
        grid-template-columns: 4fr 4fr 4fr;
  }
  main .e-commerce__img img {
    margin-top: 1rem;
  }
}

/* Popular Collection Start */
.collection {
  width: 80%;
  margin: 0 auto;
}

.collection__title {
  text-align: center;
}

.collection__title h2 {
  font-size: 2rem;
}

.collection__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 4fr 4fr;
      grid-template-columns: 4fr 4fr 4fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  margin-bottom: 5rem;
}

.collection__cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  -webkit-box-shadow: 0px 10px 39px 10px whitesmoke;
          box-shadow: 0px 10px 39px 10px whitesmoke;
  border-radius: 1rem;
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
}

.collection__cards .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 10px 39px 10px rgba(253, 207, 224, 0.822);
          box-shadow: 0px 10px 39px 10px rgba(253, 207, 224, 0.822);
}

.collection__cards .card-img {
  overflow: hidden;
}

.collection__cards .card-img img {
  width: 100%;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.collection__cards .card-img img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.collection__cards .card h3 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.collection__cards .card h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.collection__cards .card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.collection__cards .card div p {
  margin-bottom: 0;
}

.collection__cards .card p {
  margin-top: 0;
  width: 250px;
}

/* Popular Collection End */
/*# sourceMappingURL=style.css.map */