.footer {
  background-color: #0a0826;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  &__text {
    h2 {
      text-align: center;
    }
  }
  &__link {
    ul {
      display: flex;
      flex-direction: row;
      li {
        padding: 1.3rem;
        margin-right: 1rem;
        border-radius: 10%;
        &:hover {
          i {
            transform: scale(2);
            border-radius: 40%;
          }
        }
        i {
          color: #fff;
          transition: 0.5s;
        }
      }
      .facebook {
        background: #3b5998;
      }
      .instagram {
        background: radial-gradient(
          circle at 30% 107%,
          #fdf497 0%,
          #fdf497 5%,
          #fd5949 45%,
          #d6249f 60%,
          #285aeb 90%
        );
      }
      .linkedin {
        background: #0e76a8;
      }
      .twitter {
        background: #00acee;
      }
    }
  }
}
