/* Nav Section Style Start */

header {
  position: fixed;
  width: 100vw;
  background-color: white;
  margin-top: -25px;
}
nav {
  // width: 60vw;
  margin: 0 auto;
  padding: 1rem;
  box-shadow: 5px 5px 10px grey;
  .navigation {
    display: flex;
    justify-content: space-evenly;
    h1 {
      font-size: 24px;
    }
    ul {
      display: flex;
      align-items: center;

      li {
        list-style: none;
        padding-right: 2rem;
        font-weight: 600;
      }
    }
  }
}

/* Nav Section Style End */
